.header{
    color: rgba(255, 255, 255, 0.87);
    font-weight: 700;
    font-size: x-large;
    justify-content: center;
    text-align: center;
}

.section-header{
    font-size: "32px";
    font-weight: "bold"; 
    color: "#1890ff"
}

.div-to-do{
    background-color: white;
    width: 50vw;
    height: 60vh;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
}